.taskLine {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 50px auto;
}

.listElements {
  position: relative;
  width: 100%;
}

.indCheckbox {
  margin-left: 0;
  padding-right: 10px;
}

.deleteMark {
  color: #e74c3c;
  font-size: 25px;
  font-weight: bolder;
  position: absolute;
  right: 10px;
}

.deleteMark:hover {
  color: #ff4b6a;
  cursor: pointer;
}
